.right {
  float: right;
}

.left {
  float: left;
}

/* 鼠标样式 */
.pointer {
  cursor: pointer;
}

/* 文本左对齐 */
.text-left {
  text-align: left !important;
}

/* 文本右对齐 */
.text-right {
  text-align: right;
}

/* 文本居中对齐 */
.text-center {
  text-align: center;
}

/* 强制内容换行*/
.break {
  word-break: break-all;
  word-wrap: break-word;
}

/*强制内容不换行 */
.not-break {
  word-break: keep-all;
  word-wrap: normal;
}

/* 普通字体 */
.normal {
  font-style: normal;
  font-weight: normal;
}

/* 字体加粗 */
.b {
  font-weight: bold;
}

/* 字体倾斜 */
.i {
  font-style: inherit;
}

/* 加下划线 */
.u {
  text-decoration: underline;
}

/* 左浮动 */
.left {
  float: left;
}

/* 右浮动 */
.right {
  float: right;
}

/* 清除浮动 */
.clear {
  clear: both;
}

/* 撑满宽度 */
.width {
  min-width: 100%;
  max-width: 100%;
}

/* 撑满高度 */
.height {
  min-height: 100%;
  max-height: 100%;
}

/* 超出部分隐藏 */
.hidden {
  overflow: hidden;
}

.auto {
  overflow: auto;
}

textarea {
  resize: none !important;
  font-family: inherit;
}

/* 隐藏元素 */
.invisible {
  visibility: hidden;
}

/* 隐藏元素 */
.none {
  display: none !important;
}

/* 边框 */
.border {
  border: 1px solid rgb(214, 214, 214);
}

/* 内边距 */
.padding {
  padding: 10px 15px;
}

.padding-top8 {
  padding-top: 8px;
}

.padding-top10 {
  padding-top: 10px;
}

.padding-top16 {
  padding-top: 16px;
}

.padding-top20 {
  padding-top: 20px
}

.padding-top-bottom-5 {
  padding: 5px 0;
}

.padding-8 {
  padding: 8px;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

.padding-bottom8 {
  padding-bottom: 8px;
}

.padding-bottom10 {
  padding-bottom: 10px;
}

.padding-bottom16 {
  padding-bottom: 16px;
}

.padding-left8 {
  padding-left: 8px;
}

.padding-left10 {
  padding-left: 10px;
}

.padding-left16 {
  padding-left: 16px;
}

.padding-right8 {
  padding-right: 8px;
}

.padding-right10 {
  padding-right: 10px;
}

.padding-right16 {
  padding-right: 16px;
}


/* 外边距 */
.margin {
  margin: 10px 15px;
}

.margin-top5 {
  margin-top: 5px;
}

.margin-top8 {
  margin-top: 8px;
}

.margin-top10 {
  margin-top: 10px;
}

.margin-top15 {
  margin-top: 15px;
}

.margin-top16 {
  margin-top: 16px;
}

.margin-top20 {
  margin-top: 20px;
}

.margin-top30 {
  margin-top: 30px;
}

.margin-top40 {
  margin-top: 40px;
}

.margin-top50 {
  margin-top: 50px;
}

.margin-bottom5 {
  margin-bottom: 5px;
}

.margin-bottom8 {
  margin-bottom: 8px;
}

.margin-bottom10 {
  margin-bottom: 10px;
}

.margin-bottom15 {
  margin-bottom: 15px;
}

.margin-bottom16 {
  margin-bottom: 16px;
}

.margin-bottom20 {
  margin-bottom: 20px;
}

.margin-bottom30 {
  margin-bottom: 30px;
}

.margin-bottom50 {
  margin-bottom: 50px;
}

.margin-left5 {
  margin-left: 5px;
}

.margin-left8 {
  margin-left: 8px;
}

.margin-left10 {
  margin-left: 10px;
}

.margin-left15 {
  margin-left: 15px;
}

.margin-left16 {
  margin-left: 16px;
}

.margin-left20 {
  margin-left: 20px;
}

.margin15 {
  margin-left: 15px;
  margin-right: 15px;
}

.margin-right5 {
  margin-right: 5px;
}

.margin-right5-per {
  margin-right: 5%;
}

.margin-right8 {
  margin-right: 8px;
}

.margin-right10 {
  margin-right: 10px;
}

.margin-right15 {
  margin-right: 15px;
}

.margin-right16 {
  margin-right: 16px;
}

.margin-right20 {
  margin-right: 20px;
}

.margin-right100 {
  margin-right: 100px;
}

.white-bg {
  background-color: #fff;
}

.gray-bg {
  background-color: #606266;
}

.blue-bg {
  background-color: #007AFF;
}

.green-bg {
  background-color: #52C31B;
}

.orange-bg {
  background-color: #FF3B30;
}

.yellow-bg {
  background-color: #FEA600;
}

.light-blue-bg {
  background: #F2F7FF
}

.border-gray {
  border: 1px solid rgb(227, 232, 241);
}

.border-blue {
  border: 1px solid rgb(56, 155, 255);
}

.border-green {
  border: 1px solid rgb(68, 180, 73);
}

.green-main {
  color: #44b449;
}

.blue-main {
  color: rgb(56, 155, 255);
}

.red-main {
  color: red;
}

.gray-main {
  color: #606266;
}

