.font-align-both {
  text-align: justify;
  text-align-last: justify;
}

//修改布局容器样式
.el-container {
  height: calc(100vh - 40px);
}

.el-header {
  height: 40px !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.el-aside {
  z-index: 1000;
  height: calc(100vh - 40px); //ie必须定高度
  background-color: #ffffff;
}

.el-main {
  padding: 0px !important;
  height: calc(100vh - 40px); //ie必须定高度,否则无故出现滚动条
}

.el-select {
  width: 100%;
}

//百分比均以最小宽度980px设置
//修改mini 表单间距
.el-form-item--mini.el-form-item {
  margin-bottom: 10px !important;
}

.el-form-item--mini .el-form-item__label {
  line-height: 32px !important;
}

.el-world-4.el-col-6 {
  .el-form-item {
    width: 100%;
  }
  .el-form-item__label {
    width: 32%;
  }
  .el-form-item__content {
    width: 64%;
  }
}

.el-world-5.el-col-6 {
  .el-form-item {
    width: 100%;
  }
  .el-form-item__label {
    width: 38%;
  }
  .el-form-item__content {
    width: 62%;
  }
}

.el-world-6.el-col-6 {
  .el-form-item {
    width: 100%;
  }
  .el-form-item__label {
    width: 44%;
  }
  .el-form-item__content {
    width: 56%;
  }
}

.el-world-color-red {
  .el-form-item__label {
    color: red;
  }
}

.el-world-color-blue {
  .el-form-item__label {
    color: #409EFF;
  }
}

.el-world-8.el-col-6 {
  .el-form-item {
    width: 100%;
  }
  .el-form-item__label {
    width: 56%;
  }
  .el-form-item__content {
    width: 44%;
  }
}

.el-world-4.el-col-8 {
  .el-form-item {
    width: 100%;
  }
  .el-form-item__label {
    width: 23%;
  }
  .el-form-item__content {
    width: 77%;
  }
}

.el-world-6.el-col-8 {
  .el-form-item {
    width: 100%;
  }
  .el-form-item__label {
    width: 32%;
  }
  .el-form-item__content {
    width: 68%;
  }
}

.el-world-8.el-col-8 {
  .el-form-item {
    width: 100%;
  }
  .el-form-item__label {
    width: 41%;
  }
  .el-form-item__content {
    width: 59%;
  }
}

.el-world-4.el-col-12 {
  .el-form-item {
    width: 100%;
  }
  .el-form-item {
    float: right;
    width: 100%;
  }
  .el-form-item__label {
    width: 17.4%;
  }
  .el-form-item__content {
    width: 82.6%;
  }
}

.el-world-5.el-col-12 {
  .el-form-item {
    width: 100%;
  }
  .el-form-item {
    width: 100%;
  }
  .el-form-item__label {
    width: 18.7%;
  }
  .el-form-item__content {
    width: 81.3%;
  }
}

.el-world-6.el-col-12 {
  .el-form-item {
    width: 100%;
  }
  .el-form-item__label {
    width: 21.3%;
  }
  .el-form-item__content {
    width: 78.7%;
  }
}

.el-world-8.el-col-12 {
  .el-form-item {
    width: 100%;
  }
  .el-form-item__label {
    width: 24.3%;
  }
  .el-form-item__content {
    width: 75.7%;
  }
}


.el-world-6.el-col-18 {
  .el-form-item {
    width: 100%;
  }
  .el-form-item__label {
    width: 14.3%;
  }
  .el-form-item__content {
    width: 85.7%;
  }
}

.el-world-8.el-col-24 {
  .el-form-item {
    width: 100%;
  }
  .el-form-item__label {
    width: 12.1%;
  }
  .el-form-item__content {
    width: 87.9%;
  }
}


//时间选择框
.el-date-editor.el-input {
  width: 100%;
}

//4字无label对其
.el-world-4-no-label.el-col-6 {
  .el-form-item {
    width: 100%;
  }
  .el-form-item__content {
    margin-left: 18%;
  }
}

.el-world-checkbox-4.el-col-6 {
  position: relative;
  .el-checkbox {
    position: absolute;
    top: 5px;
    left: -8px;
  }
  .el-form-item__label {
    width: 28%;
  }
  .el-form-item__content {
    width: 72%;
  }
}

.el-world-checkbox-6.el-col-6 {
  position: relative;
  .el-checkbox {
    position: absolute;
    top: 5px;
    left: -8px;
  }
  .el-form-item__label {
    width: 34%;
  }
  .el-form-item__content {
    width: 66%;
  }
}

//修改mini输入框样式
.el-input--mini .el-input__inner {
  min-height: 32px !important;

}

//修改mini按钮样式
.el-button--mini {
  padding: 9px 15px !important;
}

//分屏拖拽样式
.layout-v > .multipane-resizer {
  margin: 0;
  left: 0; /* reset default styling */
  background: rgb(153, 153, 153);
}

.multipane.foo.layout-h .multipane-resizer {
  margin: 0;
  top: 0; /* reset default styling */
  height: 15px;
  background: blue;
}

//时间选择“至”
.el-date-editor .el-range-separator {
  padding: 0px !important;
}

//修改表格样式
.el-table .cell {
  //white-space: nowrap !important;
  //text-overflow: ellipsis !important;
  //overflow: hidden !important;
  .el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 100%;
  }
}

//.el-table__header {
//  position: absolute;
//  width: 100%;
//}

.el-table td, .el-table th {
  padding: 7px 0 !important;
}

//小型表格
.table-height-small {
  /deep/ td, th {
    padding: 4px 0 !important;
  }
}

.el-table th > .cell {
  padding-left: 14px !important;
}

//高度38px下 排序按钮样式
.el-table .caret-wrapper {
  height: 20px !important;
}

.el-table .sort-caret.ascending {
  top: -1px !important;
}

.el-table .sort-caret.descending {
  bottom: -1px !important;
}

//修改左菜单自定义icon样式
.menu-iconfont {
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
}

//修改tabs 样式
.home-tabs {
  .el-tabs--card > .el-tabs__header {
    border-bottom: none !important;
  }

  .el-tabs--card > .el-tabs__header .el-tabs__item {
    border-bottom: none !important;
  }

  .el-tabs__header {
    margin: 0 !important;
  }

  .el-tabs--card > .el-tabs__header {
    border: none;
  }

  .el-tabs--card > .el-tabs__header .el-tabs__nav {
    border-top: none !important;
    border-bottom: none !important;
  }

}

//修改左菜单样式

.el-menu-item.is-active {
  background-color: rgb(69, 155, 255) !important;
  color: #ffffff !important;
}

//修改dialog样式
.el-dialog__header {
  border-bottom: 1px solid rgb(230, 230, 230);
  padding: 9px 20px 7px;
  background-color: rgb(242, 247, 255);
}

.el-dialog {
  margin-top: 10vh !important;
}

.el-dialog__body {
  height: 600px;
  padding: 10px 20px;
  overflow: scroll;
}

.el-dialog__footer {
  padding: 0px 20px 10px;
}

//修改垂直分割线
.el-divider--horizontal {
  margin: 10px 0 !important;
}

//修改check-box 颜色
.el-checkbox__inner {
  border-color: #879bba;
}

//修改禁用check-box 颜色
.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after {
  border-color: #879bba;
}

.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
  background-color: #e3e6ec;
  border-color: #879bba;
}


.chang-mode {
  position: fixed;
  bottom: 200px;
  right: 50px;
  width: 30px;
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
  border-radius: 5px;
  text-align: center;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  cursor: pointer;
  z-index: 100;
}