
/*search-form 最多可填写5个字
 search-form-col-40 label名称可最大可填写6个字，对应search-form-input-60,只需添加class后即可*/
.search-form {
    width: 100%;
    height: 28px;
    margin-bottom: 10px;
}
.search-form-label {
    float: left;
    width: 33.3%;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    padding-left: 10px;
    font-family: "微软雅黑";
    text-align: left;
    color: #676a6c;
    font-size: 12px;
    font-weight: 700;
    //background-color: rgb(248, 248, 248);
}
.search-form-label-col-8 {
    width: 7.9666%;
}
.search-form-label-col-10 {
    width: 9.6666%;
}
.search-form-label-col-16 {
    width: 16.5555557%;
}
.search-form-label-col-20 {
    width: 19.333%;
}
.search-form-label-col-25 {
    width: 25.333%;
}
.search-form-label-col-40 {
    width: 40%;
}

.search-form-input {
    float: left;
    width: 66.6% !important;
    height: 28px;
    line-height: 30px;
    padding-left: 12px;
    background-color: rgb(255, 255, 255);
    outline: none;
}
.search-form-input-92 {
    width: 92.03334% !important;
}
.search-form-input-90 {
    width: 90.333% !important;
}
.search-form-input-84 {
    width: 83.3333333% !important;
}
.search-form-input-80 {
    width: 80.667% !important;
}
.search-form-input-75 {
    width: 74.667% !important;
}
.search-form-input-60 {
    width: 60% !important;
}


.select {
    float: left;
    width: 66.6%;
    height: 30px;
    background-color: rgb(255, 255, 255);
    outline: none;
}